body {
    font: Arial, verdana;
    background: #000000; 
    color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 250px;
    border: 10px dashed #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
    box-sizing: border-box;
}

main .introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

main div.red {
    background: #ff0000; 
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

main div.blue {
    background: #0000ff; /* use hex */
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

main div.blue h2, main div.blue p {
    color: #C4C4C4;

}

main div.yellow {
    background: #ffff00; 
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}

main div.yellow p {
    color: #707070;
}

main div.green {
    background: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg,#000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid  #ffffff; 
}

footer p {
    font-size: 20px;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
